In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('BTC-USD.csv')
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,10/02/22,19311.84961,19370.30859,18970.62109,19044.10742,19044.10742,2.076596e+10
1,10/03/22,19044.06836,19653.54297,19025.22656,19623.58008,19623.58008,3.048473e+10
2,10/04/22,19623.58398,20380.34375,19523.83984,20336.84375,20336.84375,3.588728e+10
3,10/05/22,20335.90039,20343.74805,19801.80078,20160.71680,20160.71680,3.322379e+10
4,10/06/22,20161.03906,20408.39258,19900.08789,19955.44336,19955.44336,3.471141e+10

In [3]:
data_date = data['Date']
data_date=data_date.astype(str)
data_date.dtype

dtype('O')

In [4]:
data['Date'] = data['Date'].str.replace('/', '')
data['Date'] = data['Date'].str.replace('/', '')
data['Date'] = data['Date'].astype(str)

In [5]:
data['Date'].head()

0    100222
1    100322
2    100422
3    100522
4    100622
Name: Date, dtype: object

In [6]:
data['Date'] = data['Date'].astype(str)

In [7]:
data['Date'] = data['Date'].astype(float)

In [8]:
data['Date'].dtype

dtype('float64')

In [10]:
data.to_csv('BTC-USD1.csv')